<form [formGroup]="forma" (ngSubmit)="generarVenta()">

    <!-- Table -->
    <div class="row animated fadeIn faster" style="justify-content: center;">
        <div class="col-xl-10 order-xl-1 mt-8">
            <div class="card bg-secondary shadow">
                <div class="card-body">

                    <h6 class="heading-small text-muted mb-4">Información del cliente</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="txt_Apellidos">Id</label>
                                    <input type="text" id="txt_Apellidos" class="form-control form-control-alternative" placeholder="Id" formControlName="id" readonly>
                                </div>
                            </div>

                            <div class="col-lg-5 form-inline justify-content-end mt-2">
                                <div class="form-group">
                                    <!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-bs-target="#exampleModal"><i class="ni ni-check-bold"></i> Buscar</button> -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Buscar
                                      </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Compania</label>
                                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Compania" formControlName="compania" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-last-name">Cliente</label>
                                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Cliente" formControlName="cliente" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Productos</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">

                                <!--                                 <button id="btn_BuscarProducto" type="button" class="btn btn-secondary" data-toggle="modal" data-target=".modalSeleccionarProducto" (click)="obtenerDatosProductos()"><i class="ni ni-check-bold "></i> Buscar Producto</button>
 --><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="obtenerDatosProductos()">
                                    Buscar Producto
                                  </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- (keyup)="changeValue(id, 'cantidad_venta', $event)"  -->

    <!-- Carrito de compras -->
    <div class="row animated fadeIn faster" style="justify-content: center;">
        <div class="col-xl-10">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <h6 class="heading-small text-muted">Listado de productos seleccionados</h6>
                </div>
                <div class="table-responsive ">
                    <table class="table align-items-center table-flush ">
                        <thead class="thead-light ">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let carritoVenta of carritoVentas; let id = index">
                                <th> {{ carritoVenta.Id_Producto }} </th>
                                <th> {{ carritoVenta.Nombre_Producto }} </th>
                                <th> {{ carritoVenta.Precio_Producto }} </th>
                                <th> <span id="{{id}}" (blur)="updateList(carritoVenta.Id_Producto, id, 'Cantidad_Producto', $event)" style="padding: 1rem 1rem" contenteditable="true">{{carritoVenta.Cantidad_Producto}}</span> </th>
                                <th> {{ carritoVenta.Precio_Producto * carritoVenta.Cantidad_Producto }} </th>
                                <th>
                                    <button class="btn btn-outline-danger" (click)="remove(id)">X</button>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4 justify-content-end mb-0">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-12 form-inline justify-content-end mt-2">
                                <label class="form-control-label mr-2" for="txt_Subtotal">Subtotal ($)</label>
                                <input style="text-align: right;" type="text" class="col-lg-1" id="txt_Subtotal" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-inline justify-content-end mt-2">
                                <label class="form-control-label mr-2" for="txt_Iva">IVA (12%)</label>
                                <input style="text-align: right;" type="text" class="col-lg-1" id="txt_Iva" disabled>
                            </div>
                        </div>
                        <!--       <div class="row">
                                <div class="col-lg-12 form-inline justify-content-end mt-2">
                                    <label class="form-control-label mr-2" for="txt_Descuento">Descuento (%)</label>
                                    <input style="text-align: right;" type="text" class="col-lg-1" id="txt_Descuento" maxlength="3" (blur)="aplicarDescuento()" disabled onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                </div>
                            </div> -->
                        <div class="row">
                            <div class="col-lg-12 form-inline justify-content-end mt-2">
                                <label class="form-control-label mr-2" for="txt_Total">Total ($)</label>
                                <input style="text-align: right;" type="text" class="col-lg-1" id="txt_Total" disabled>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-lg-12 form-inline justify-content-end mt-2">
                                <button id="btn_GenerarVenta" class="btn btn-success"><i class="ni ni-check-bold"></i> Generar Venta</button>
                                <button id="btn_Cancelar" type="button" class="btn btn-danger" (click)="cancelarVenta()"><i class="ni ni-check-bold "></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>




<!-- Modal Seleccionar Producto -->

<div class="modal fade modalSeleccionarProducto" tabindex="-1" id="exampleModal2" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>

                    <!-- Table -->
                    <div class="row">
                        <div class="col-lg-12 col-md-10 mb-4">
                            <form class="form-inline">
                                <input #terminoProducto class="form-control mr-sm-2" placeholder="Buscar" aria-label="Search" (keyup)="buscarProducto(terminoProducto.value)">
                            </form>
                        </div>
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <h3 class="mb-0">Listado de Productos</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Producto</th>
                                                <th scope="col">Proveedor</th>
                                                <th scope="col">Categoría</th>
                                                <th scope="col">Cantidad por unidad</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Stock</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of productos">
                                                <th> {{ producto.Id_Producto }} </th>
                                                <th> {{ producto.Nombre_Producto }} </th>
                                                <th> {{ producto.Nombre_Proveedor }} </th>
                                                <th> {{ producto.Nombre_Categoria }} </th>
                                                <th> {{ producto.CantidadPorUnidad_Producto }} </th>
                                                <th> {{ producto.Precio_Producto }} </th>
                                                <th> {{ producto.Stock_Producto }} </th>
                                                <th>
                                                    <button class="btn btn-outline-info" (click)="seleccionarProducto(producto)" data-bs-dismiss="modal"><i class="ni ni-fat-remove"></i> Seleccionar</button>
                                                </th>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer py-4">
                                    <nav aria-label="... ">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item" (click)="setPageProductos(pagerProductos.currentPage - 1)" [ngClass]="{disabled: pagerProductos.currentPage == 1}">
                                                <a class="page-link" href="javascript:void(0)" tabindex="-1 ">
                                                    <i class="fas fa-angle-left "></i>
                                                    <span class="sr-only ">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item" *ngFor="let pageProducto of pagerProductos.pages" [ngClass]="{active: pagerProductos.currentPage == pageProducto}">
                                                <a class="page-link" href="javascript:void(0)" (click)="setPageProductos(pageProducto)"> {{ pageProducto }} </a></li>

                                            <li class="page-item" [ngClass]="{disabled:pagerProductos.currentPage === pagerProductos.totalPages}">
                                                <a class="page-link" href="javascript:void(0)" (click)="setPageProductos(pagerProductos.currentPage + 1)">
                                                    <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul> -
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Seleccionar Cliente -->

<div class="modal fade modalSeleccionarCliente" id="exampleModal" tabindex="-1 " role="dialog " aria-labelledby="myLargeModalLabel " aria-hidden="true " style="overflow-y: auto ">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true ">×</span></button>
            </div>
            <div class="modal-body ">
                <form>

                    <!-- Table -->
                    <div class="row">
                        <div class="col-lg-12 col-md-10 mb-4">
                            <form class="form-inline">
                                <input id="buscadorCliente" #terminoCliente class="form-control mr-sm-2" placeholder="Buscar" aria-label="Search" (keyup)="buscarCliente(terminoCliente.value)">
                            </form>
                        </div>
                        <div class="col ">
                            <div class="card shadow ">
                                <div class="card-header border-0 ">
                                    <h3 class="mb-0 ">Listado de Clientes</h3>
                                </div>
                                <div class="table-responsive ">
                                    <table class="table align-items-center table-flush ">
                                        <thead class="thead-light ">
                                            <tr>
                                                <th scope="col ">Id</th>
                                                <th scope="col ">Compania</th>
                                                <th scope="col ">Cliente</th>
                                                <th scope="col ">Titulo</th>
                                                <th scope="col ">Direccion</th>
                                                <th scope="col ">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cliente of clientes">
                                                <th> {{ cliente.Id_Cliente }} </th>
                                                <th> {{ cliente.Nombre_Compania }} </th>
                                                <th> {{ cliente.Nombre_Cliente }} </th>
                                                <th> {{ cliente.Titulo_Cliente }} </th>
                                                <th> {{ cliente.Direccion_Cliente }} </th>
                                                <th>
                                                    <button class="btn btn-outline-danger" (click)="seleccionarCliente(cliente)" data-bs-dismiss="modal"><i class="ni ni-fat-remove"></i> Seleccionar</button>
                                                </th>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer py-4 ">
                                    <nav aria-label="... ">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item" (click)="setPageClientes(pagerClientes.currentPage - 1)" [ngClass]="{disabled: pagerClientes.currentPage == 1}">
                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                    <i class="fas fa-angle-left"></i>
                                                    <span class="sr-only ">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item" *ngFor="let pageCliente of pagerClientes.pages" [ngClass]="{active: pagerClientes.currentPage == pageCliente}">
                                                <a class="page-link" href="javascript:void(0)" (click)="setPageClientes(pageCliente)"> {{ pageCliente }} </a></li>

                                            <li class="page-item" [ngClass]="{disabled:pagerClientes.currentPage === pagerClientes.totalPages}">
                                                <a class="page-link" href="javascript:void(0)" (click)="setPageClientes(pagerClientes.currentPage + 1)">
                                                    <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>